.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/forge-anvil-workshop-v1/FileContentIndex/2ed86a02-c094-4767-8119-4cab0d2afaf4.vsidx
.vs/forge-anvil-workshop-v1/FileContentIndex/06ffa7d9-531d-4b12-a511-818e95f27049.vsidx
.vs/forge-anvil-workshop-v1/FileContentIndex/823f4288-87d1-4549-aaac-363ed0ecf67c.vsidx
.vs/forge-anvil-workshop-v1/FileContentIndex/be4a33d6-eead-4449-bcc0-ae1be052fc21.vsidx
.vs/forge-anvil-workshop-v1/FileContentIndex/ed67870c-9081-4331-885f-32ba2e3c9249.vsidx
.vs/forge-anvil-workshop-v1/v17/.wsuo
.vs/forge-anvil-workshop-v1/v17/DocumentLayout.json
app/__pycache__/*
.claude/*
